.latest_geohashes
  %h3 Latest geohashes
  - geohashes = graticule.geohashes.latest
  - if geohashes.empty?
    %p Check back later for geohashes in this graticule.

  - geohashes.each do |geohash|
    %h4= friendly_date(geohash.date)
    %p
      = geohash.place_name_display
      %br/
      = geohash.latitude_longitude_display
