.span-6.prepend-1.append-1.last.nsew
  .span-2.prepend-2.append-2.last
    = link_to(t('common.go_north'), pretty_graticule_path(@graticule.latitude_north, @graticule.longitude))
  .span-2
    = link_to(t('common.go_west'), pretty_graticule_path(@graticule.latitude, @graticule.longitude_west))
  .span-2.prepend-2.last
    = link_to(t('common.go_east'), pretty_graticule_path(@graticule.latitude, @graticule.longitude_east))
  .span-2.prepend-2.append-2.last
    = link_to(t('common.go_south'), pretty_graticule_path(@graticule.latitude_south, @graticule.longitude))
