div.header_area
  margin-bottom: 1em
  border-bottom-width: 1px
  border-bottom-style: solid
  border-bottom-color = !paler


.header_logo
  float: left


.header_text
  margin-top: 55px
  margin-bottom: 8px
  letter-spacing: -3px
  font-weight: bold

.flags img
  margin: 0 1px
  border: 2px solid white
  &.active
    border-color: lightblue

.sign_in_button
  margin: 0.5em 0
