ul.navigator li
  display: inline
  list-style: none
  padding: 0.5em
  background-color: #efefef
  border-width: 1px
  border-style: solid
  border-color = !pale
  border-bottom-width: 0px
  margin-right: 2px
  font-weight: bold
  -moz-border-radius-topleft: 6px
  -moz-border-radius-topright: 6px
  -webkit-border-top-left-radius: 6px
  -webkit-border-top-right-radius: 6px

  a
    text-decoration: none

