.graticule
  border-width: 3px
  border-style: solid
  border-color = !pale
  padding: 1em
  background-color = !palest
  margin: 1em 0

  .coordinates
    font-size: 3em
    font-weight: bold
    color = !darker

  ul.links
    list-style: none

.graticule_link, .geohash_link, .globalhash_link
  a
    font-size: 1.5em
  img
    vertical-align: middle
    margin-right: 1em

.latest_geohashes
  h4
    margin-bottom: 2px


.subscription_buttons
  img
    margin-bottom: 1em
