.graticule
  border-width: 3px
  border-style: solid
  border-color = !pale
  padding: 1em
  background-color = !palest
  margin: 1em 0

  h4
    margin-bottom: 2px

  .coordinates
    font-size: 3em
    font-weight: bold
    color = !darker

  ul.links
    list-style: none

