.graticule {
  border: 3px solid #bbb;
  padding: 1em;
  background-color: #eee;
  margin: 1em 0;
}

.graticule .coordinates {
  font-size: 3em;
  font-weight: bold;
  color: #444;
  float: left;
}

.graticule h3.name {
  margin-left: 220px;
}

.graticule ul.links {
  margin-left: 220px;
  list-style: none;
}

.graticule .unsubscribe {
  float: right;
}

#map_canvas {
  background-color: #9CB2C9;
  height: 300px;
  margin: 1em 0;
}

ul.navigator li {
  display: inline;
  list-style: none;
  padding: 0.5em;
  background-color: #efefef;
  border-top: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border-left: 1px solid #bbb;
  margin-right: 2px;
  font-weight: bold;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
}

ul.navigator li a {
  text-decoration: none;
}

a {
  font-weight: bold;
  color: #666;
}

a:visited {
  color: #888;
}

