<% content_for(:javascript) do %>
  <script type="text/javascript" src="http://www.google.com/jsapi?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>"></script>
  <script type="text/javascript">
    google.load("maps", "2");
    
    var AUTH_TOKEN = <%= form_authenticity_token.inspect %>;

    var map = null;
   
    function initialize() {
    
      <% if current_user.lat.nil? || current_user.lng.nil? -%>
        var latlng = new google.maps.LatLng(google.loader.ClientLocation.latitude, google.loader.ClientLocation.longitude);
        var zoomlevel = 5;
        var show_pin = false;
      <% else -%>
        var latlng = new google.maps.LatLng(<%= current_user.lat %>, <%= current_user.lng %>);
        var zoomlevel = 9;
        var show_pin = true;
      <% end -%>
      
      var map = new google.maps.Map2(document.getElementById("map_canvas"));
      map.setCenter(latlng, zoomlevel);
      if(show_pin) {
        map.addOverlay(new GMarker(latlng));
      }
      map.setUIToDefault();
      
      GEvent.addListener(map, "click", function(overlay, latlng) {
        if (latlng) {
          $('location_saved').hide();
          map.clearOverlays();
          map.addOverlay(new GMarker(latlng));
          map.zoomIn(latlng, true, true);
          update_home_location(latlng.lat(), latlng.lng());
        }
      });
    }
    
    google.setOnLoadCallback(initialize);
  </script>
<% end %>

<h2>Choose your location</h2>

<div id='map_canvas' class='span-24'></div>

<p id='location_saved' style='display:none;'>
  Your location has been saved.
</p>

