= render :partial => 'subscriptions/new'

%br/
%hr/

%h2 Your subscriptions
- if @subscriptions.empty?
  .notice
    You are not subscribed to any graticules. Enter your coordinates above, or
    = link_to('set your home location', location_path)
- @subscriptions.each do |subscription|
  = render :partial => 'graticules/show', :locals => {:graticule => subscription.graticule, :subscription => subscription}

