= render :partial => 'subscriptions/new'

%h2 Your subscriptions
- current_user.subscriptions.by_graticule_latitude_and_longitude.each do |subscription|
  = render :partial => 'graticules/show', :locals => {:graticule => subscription.graticule, :subscription => subscription}

