= render :partial => 'subscriptions/new'

%br/
%hr/

%h2= t('.your_subscriptions')
- if @subscriptions.empty?
  .notice= t('.you_are_not_subscribed_to_any_graticules', :set_location => link_to(t('.set_your_home_location'), location_path))

- @subscriptions.each do |subscription|
  = render :partial => 'graticules/show', :locals => {:graticule => subscription.graticule, :subscription => subscription}

