%p Welcome to Active geohasher! Providing resources for geohashers.

- unless logged_in?
  %p You can sign in using your Google account, Flickr, Twitter, Facebook, or OpenID.
  
%p
  This project is open source. See
  = link_to('active_geohasher', 'http://github.com/sermoa/active_geohasher')
  on github. Contributions are welcome!

