%h3 What data do you collect about me?
%p We store your name, email address and identifying URL for authentication. If you pinpoint a location we will save that in order to provide you with relative distances to geohashes. We will store the graticules to which you subscribe in order to provide you with a useful service.

%h3 Can I view and change the data you hold about me?
%p
  You can. If you are logged in and click on your name, or you visit
  =link_to('edit profile', edit_profile_path)
  you will see the data we have. You can change your name and email address. You can see your identifying URL but you cannot change it because it is needed for authentication. You can change your subscriptions or home location at any time.
  
%h3 Will I get unwanted email?
%p You will only receive email that you have chosen to receive, about graticules to which you have subscribed. You can unsubscribe from graticules at any time, or you can edit your profile and uncheck 'Receive email' for a quick way to stop receiving email.

%h3 Will you share my information with anyone else?
%p No. Absolutely not, and we never will.

