- if logged_in?
  %p
    = "Hey #{link_to(current_user.name, edit_profile_path)}!"
    = link_to 'Sign out', signout_path
- else
  %p
    = sign_in_link
    
  -content_for :post_page_load_javascript do
    %script{ :src => "https://rpxnow.com/openid/v2/widget", :type => "text/javascript" }
    :javascript
      RPXNOW.token_url = '<%= rpx_url %>';
      RPXNOW.realm = '<%= ENV['RPX_REALM'] %>';
      RPXNOW.overlay = false;

